@font-face { font-family: 'Brandon Text'; src: url('./fonts/BrandonText-Medium.eot'); src: url('./fonts/BrandonText-Medium.eot?#iefix') format('embedded-opentype'),url('./fonts/BrandonText-Medium.woff2') format('woff2'),url('./fonts/BrandonText-Medium.woff') format('woff'),url('./fonts/BrandonText-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Brandon Text'; src: url('./fonts/BrandonText-Regular.eot'); src: url('./fonts/BrandonText-Regular.eot?#iefix') format('embedded-opentype'),url('./fonts/BrandonText-Regular.woff2') format('woff2'),url('./fonts/BrandonText-Regular.woff') format('woff'),url('./fonts/BrandonText-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Brandon Text'; src: url('./fonts/BrandonText-Bold.eot'); src: url('./fonts/BrandonText-Bold.eot?#iefix') format('embedded-opentype'),url('./fonts/BrandonText-Bold.woff2') format('woff2'),url('./fonts/BrandonText-Bold.woff') format('woff'),url('./fonts/BrandonText-Bold.ttf') format('truetype'); font-weight: bold; font-style: normal; }

html, body {
	margin: 0;
	color: #303030;
}

a:link, a:hover, a:visited, a:active {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#content a:link {
	text-decoration: underline;
}

p {
	margin: 0 0 1em 0;
}

h1, h2, h3, h4, h5 {
	margin: 0 0 0.5em 0;
}

h1 {
	font-style: normal;
	font-weight: 900;
	font-size: 64px;
	line-height: 1em;
}

h2 {
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	line-height: 1em;
}

h3 {
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 1em;
}

#content > :first-child {
	padding-top: 2em;
}
#content > :last-child {
	padding-bottom: 2em;
}

/*
#content > .horizontal:last-child {
	margin-bottom: 0;
}
*/
